server {
  listen 5173;
  server_name localhost;
  root /usr/share/nginx/html/ewer;
  index index.html;

  location / {
    try_files $uri $uri/ /index.html;
  }

  # Optional: serve static assets and set cache headers
  location ~* \.(?:css|js|jpg|jpeg|png|svg|gif|ico)$ {
    expires 7d;
    add_header Cache-Control "public";
    try_files $uri =404;
  }
}
